<div class="page-header page-header-small clear-filter" filter-color="orange">
            <div class="page-header-image" data-parallax="true" style="background-image: url('http://demos.creative-tim.com/now-ui-kit/assets/img/header.jpg');">
            </div>
            <div class="container">
                <div class="content-center">
                    <h1 class="title text-center">Contact us</h1>
                    <h3 class="description text-center">
                      From A to Z.
                    </h3>
                </div>
            </div>
</div>

  <div class="section section-contact-us text-center">
          <div class="container">
                  <h2 class="title">Want to work with us?</h2>
                  <p class="description">Your project is very important to us.</p>
                  <div class="row">
                      <div class="col-lg-6 text-center offset-lg-3 col-md-8 offset-md-2">
                          <div class="input-group form-group-no-border input-lg">
                              <span class="input-group-addon">
                                  <i class="fa fa-user-circle" aria-hidden="true"></i>
                              </span>
                              <input type="text" class="form-control" placeholder="First Name...">
                          </div>
                          <div class="input-group form-group-no-border input-lg">
                              <span class="input-group-addon">
                                  <i class="fa fa-envelope" aria-hidden="true"></i>
                              </span>
                              <input type="text" class="form-control" placeholder="Email...">
                          </div>
                          <div class="textarea-container">
                              <textarea class="form-control" name="name" rows="4" cols="80" placeholder="Type a message..."></textarea>
                          </div>
                          <br />
                          <div class="send-button">
                              <a href="#pablo" class="btn btn-primary btn-round btn-block btn-lg">Send Message</a>
                          </div>
                      </div>
                  </div>
          </div>
  </div>

<!--Portfolio Section-->
<%= render "static_pages/home/portfolio" %>
<!--Portfolio Section End -->