<div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image" data-parallax="true" style="background-image: url('http://wallpapercave.com/wp/3xjL9LP.jpg');">
    </div>
    <div class="container">
        <div class="content-center brand">
            <img class="n-logo" src="http://demos.creative-tim.com/now-ui-kit/assets/img/now-logo.png" alt="">
            <h1 class="h1-seo">Now UI Kit.</h1>
            <h3>A beautiful Bootstrap 4 UI kit. Yours free.</h3>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
      <h3 class="title text-center">About me</h3>
      <h5 class="description text-center">
        An artist of considerable range, Ryan — the name taken by Melbourne-raised,
         Brooklyn-based Nick Murphy — writes, performs and records all of his own
         music, giving it a warm, intimate feel with a solid groove structure.
          An artist of considerable range.
        </h5>
    </div>
</div>


<div class="section section-bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <!-- Design and Development -->
        <div class="card">
          <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCcEM6CHPkmQ8w8PKUcESgNL86FQP2u2cUkfhwdtTS1Gl8FV8W" alt="Card image cap">
          <div class="card-block text-center">
            <h4 class="card-title text-center">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
       </div>
      </div>

      <div class="col-sm-12 col-md-4">
        <!-- Design and Development -->
        <div class="card">
          <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCcEM6CHPkmQ8w8PKUcESgNL86FQP2u2cUkfhwdtTS1Gl8FV8W" alt="Card image cap">
          <div class="card-block text-center">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
       </div>
      </div>

      <div class="col-sm-12 col-md-4">
        <!-- Design and Development -->
        <div class="card">
          <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCcEM6CHPkmQ8w8PKUcESgNL86FQP2u2cUkfhwdtTS1Gl8FV8W" alt="Card image cap">
          <div class="card-block text-center">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
       </div>
      </div>
    </div>

  </div>
</div>

<div class="section section-team text-center ">
            <div class="container">
                <h2 class="title">Here is our team</h2>
                <div class="team">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="team-player">
                                <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/avatar.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                                <h4 class="title">Romina Hadid</h4>
                                <p class="category text-primary">Model</p>
                                <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                    <a href="#">links</a> for people to be able to follow them outside the site.</p>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini"><i class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini"><i class="fa fa-instagram"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini"><i class="fa fa-facebook-square"></i></a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="team-player">
                                <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/ryan.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                                <h4 class="title">Ryan Tompson</h4>
                                <p class="category text-primary">Designer</p>
                                <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                    <a href="#">links</a> for people to be able to follow them outside the site.</p>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini"><i class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="team-player">
                                <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/eva.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                                <h4 class="title">Eva Jenner</h4>
                                <p class="category text-primary">Fashion</p>
                                <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                    <a href="#">links</a> for people to be able to follow them outside the site.</p>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini"><i class="fa fa-google-plus"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini"><i class="fa fa-youtube-play"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini"><i class="fa fa-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>
