
  <div class="section section-bg-secondary">
      <br />
      <br />
      <br />
      <br />
      <br />
      <div class="container text-center">
        <h3 class="title">About me</h3>
        <h5 class="description">
          An artist of considerable range, Ryan — the name taken by Melbourne-raised,
           Brooklyn-based Nick Murphy — writes, performs and records all of his own
           music, giving it a warm, intimate feel with a solid groove structure.
            An artist of considerable range.
          </h5>
          <br  />
          <button class="btn btn-primary btn-lg btn-round">More About Us</button>
      </div>
  </div>

  <div class="section section-contact-us text-center">
          <div class="container">
                  <h2 class="title">Want to work with us?</h2>
                  <p class="description">Your project is very important to us.</p>
                  <div class="row">
                      <div class="col-lg-6 text-center offset-lg-3 col-md-8 offset-md-2">
                          <div class="input-group form-group-no-border input-lg">
                              <span class="input-group-addon">
                                  <i class="now-ui-icons users_circle-08"></i>
                              </span>
                              <input type="text" class="form-control" placeholder="First Name...">
                          </div>
                          <div class="input-group form-group-no-border input-lg">
                              <span class="input-group-addon">
                                  <i class="now-ui-icons ui-1_email-85"></i>
                              </span>
                              <input type="text" class="form-control" placeholder="Email...">
                          </div>
                          <div class="textarea-container">
                              <textarea class="form-control" name="name" rows="4" cols="80" placeholder="Type a message..."></textarea>
                          </div>
                          <br />
                          <div class="send-button">
                              <a href="#pablo" class="btn btn-primary btn-round btn-block btn-lg">Send Message</a>
                          </div>
                      </div>
                  </div>
          </div>
  </div>
