<div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image" data-parallax="true" style="background-image: url(https://advice.owners.com/wp-content/uploads/2017/01/chicagosouthside_292755.jpg);">
    </div>
    <div class="container">
        <div class="content-center brand">
            <div>
                <ul class="dummy-logo">
                  <li>548</li>
                  <li>SOLUTIONS</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="section">
<div class="container ">
      <div class="col-xs-12 col-md-6 optimize-ad">
      <br />
      <br />
      <br />
      
      <h5 class="description">
        <span class="rotate">
          Reimagining,
          Creating,
          Investing
        </span>
      </h5>
      <h4 class="title">
         sustainable and environmentally friendly housing in neighborhood in the South side of Chicago
      </h4>
        <br  />
        <a href="/static_pages/portfolio" class="btn btn-lg btn-neutral btn-primary">
          Learn More
        </a>
      </div>
</div>
</div>

<!--Services Section-->
<%= render "static_pages/home/services" %>
<!--Services Section End -->



<div class="section section-team text-center ">
            <div class="container">
                <h2 class="title">Here is our team</h2>
                <div class="team">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="team-player">
                                <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/21106637_10155676677837920_3906922912547170660_n.jpg?oh=0330e9fbc13220dd5b33270b3452bc41&oe=5A58B024" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised team-img">
                                <h4 class="title">Kris Chery</h4>
                                <p class="category text-primary"> CTO / Designer </p>
                                <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                    <a href="#">links</a> for people to be able to follow them outside the site.</p>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini"><i class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini"><i class="fa fa-instagram"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini"><i class="fa fa-facebook-square"></i></a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="team-player">
                                <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/21270828_10155676660797920_2394639423972243179_n.jpg?oh=56abb87baed7e49f5bcdf710bfcab5b8&oe=5A214A8B" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised team-img">
                                <h4 class="title">Mark Katrich</h4>
                                <p class="category text-primary">Media Expert</p>
                                <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                    <a href="#">links</a> for people to be able to follow them outside the site.</p>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini"><i class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="team-player">
                                <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/21105572_10155676659557920_5906075377438810626_n.jpg?oh=e949e394596792cbcb6677eaecf4dc80&oe=5A214274" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised team-img">
                                <h4 class="title">Laura Pitkute</h4>
                                <p class="category text-primary">Project Manager</p>
                                <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                    <a href="#">links</a> for people to be able to follow them outside the site.</p>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini"><i class="fa fa-google-plus"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini"><i class="fa fa-youtube-play"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini"><i class="fa fa-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>

<!--Portfolio Section-->
<%= render "static_pages/home/portfolio" %>
<!--Portfolio Section End -->

<!-- Modal 1 -->
<div class="modal fade" id="marketingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h5 class="modal-title" id="myModalLabel">
          MARKETING
        </h5>
      </div>
      <div class="modal-body text-center">
        <h4>
          <i class="fa fa-line-chart fa-2x" aria-hidden="true" style="color:#F9633E;padding: 7%;background: gainsboro;border-radius: 50%;"></i>
        </h4>
        Taking existing data from organic and paid campaigns and creating an executable
        plan going forward. From analyzing competition, click rates and click costs
        to phasing in different tiers of campaign release, 2150 Times works with client
        to establish the right mix of SEO and Paid services.
        <br />
        <br />
        Focus is on launching marketing campaigns that drive conversions through organic and paid mediums,
        tracking and optimizing client acquisition costs, reporting on current trends
        and projecting effectiveness and budgets.
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Web development Design -->
<div class="modal fade" id="designModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h5 class="modal-title" id="myModalLabel">
          DESIGN
        </h5>
      </div>
      <div class="modal-body text-center">
        <h4>
          <i class="fa fa-code fa-2x" aria-hidden="true" style="color:#F9633E;padding: 7%;background: gainsboro;border-radius: 50%;"></i>
        </h4>
          <b>Like the phrase ‘beauty is in the eye of the beholder’</b>, effective
           web design is judged by the <i>users</i> of the website and not the
           website owners. There are many factors that affect the usability of a website,
           and it is not just about form (how good it looks), but also function (how easy is it to use).
        <br />
        <i class="text-muted">
          Websites that are not well designed tend to perform poorly and have sub-optimal
          Google Analytics metrics
        </i>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Branding -->
<div class="modal fade" id="brandingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h5 class="modal-title" id="myModalLabel">
          BRANDING
        </h5>
      </div>
      <div class="modal-body text-center">
        <h4>
          <i class="fa fa-industry fa-2x" aria-hidden="true" style="color:#F9633E;padding: 7%;background: gainsboro;border-radius: 50%;"></i>
        </h4>
        <b>A brand</b> is a symbol. Symbols are designs which represent something else,
        and a brand is meant to package all of the associations, experiences and
        characteristics into an abstract construct.
        <br />
        <br />
        This construct can be evoked using consistent <b>imagery, sounds, phrases and
        logos</b> with which people come into contact.
        <br />
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<!-- <body class="profile-page">
  <div class="wrapper">
      <div class="page-header page-header-small" filter-color="orange">
          <div class="page-header-image" data-parallax="true" style="background-image: url('http://demos.creative-tim.com/now-ui-kit/assets/img/bg5.jpg');">
          </div>
          <div class="container">
              <div class="content-center">
                  <div class="photo-container">
                      <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/ryan.jpg" alt="">
                  </div>
                  <h3 class="title">Ryan Scheinder</h3>
                  <p class="category">Photographer</p>
                  <div class="content">
                      <div class="social-description">
                          <h2>26</h2>
                          <p>Comments</p>
                      </div>
                      <div class="social-description">
                          <h2>26</h2>
                          <p>Comments</p>
                      </div>
                      <div class="social-description">
                          <h2>48</h2>
                          <p>Bookmarks</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="section">
          <div class="container">
              <div class="button-container">
                  <a href="#button" class="btn btn-primary btn-round btn-lg">Follow</a>
                  <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Twitter">
                      <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Instagram">
                      <i class="fa fa-instagram"></i>
                  </a>
              </div>
              <h3 class="title">About me</h3>
              <h5 class="description">An artist of considerable range, Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. An artist of considerable range.</h5>
              <div class="row">
                  <div class="col-md-6 offset-md-3">
                      <h4 class="title text-center">My Portfolio</h4>
                      <div class="nav-align-center">
                          <ul class="nav nav-pills nav-pills-primary" role="tablist">
                              <li class="nav-item">
                                  <a class="nav-link" data-toggle="tab" href="#profile" role="tablist">
                                      <i class="now-ui-icons design_image"></i>
                                  </a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link active" data-toggle="tab" href="#home" role="tablist">
                                      <i class="now-ui-icons location_world"></i>
                                  </a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" data-toggle="tab" href="#messages" role="tablist">
                                      <i class="now-ui-icons sport_user-run"></i>
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
                  Tab panes -->
                  <!-- <div class="tab-content gallery">
                      <div class="tab-pane active" id="home" role="tabpanel">
                          <div class="row">
                              <div class="col-md-10 offset-md-1">
                                  <div class="row collections">
                                      <div class="col-md-6">
                                          <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg1.jpg" alt="" class="img-raised">
                                          <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg3.jpg" alt="" class="img-raised">
                                      </div>
                                      <div class="col-md-6">
                                          <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg8.jpg" alt="" class="img-raised">
                                          <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg7.jpg" alt="" class="img-raised">
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="tab-pane" id="profile" role="tabpanel">
                          <div class="row">
                              <div class="col-md-10 offset-md-1">
                                  <div class="row collections">
                                      <div class="col-md-6">
                                          <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg6.jpg" class="img-raised">
                                          <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg11.jpg" alt="" class="img-raised">
                                      </div>
                                      <div class="col-md-6">
                                          <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg7.jpg" alt="" class="img-raised">
                                          <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg8.jpg" alt="" class="img-raised">
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="tab-pane" id="messages" role="tabpanel">
                          <div class="row">
                              <div class="col-md-10 offset-md-1">
                                  <div class="row collections">
                                      <div class="col-md-6">
                                          <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg3.jpg" alt="" class="img-raised">
                                          <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg8.jpg" alt="" class="img-raised">
                                      </div>
                                      <div class="col-md-6">
                                          <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg7.jpg" alt="" class="img-raised">
                                          <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg6.jpg" class="img-raised">
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div> -->
<!-- </body> -->
