<div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image" data-parallax="true" style="background-image: url('http://wallpapercave.com/wp/3xjL9LP.jpg');">
    </div>
    <div class="container">
        <div class="content-center brand">
            <img class="n-logo" src="http://demos.creative-tim.com/now-ui-kit/assets/img/now-logo.png" alt="">
            
            <h1 class="h1-seo">Web Marketing.</h1>
            <ul class="header-service-list">
              <li>
                BRANDING
              </li>
              <li>
                MARKETING
              </li>
              <li>
                DEVELOPMENT
              </li>
            </ul>
        </div>
    </div>
</div>
<div class="section">
    <div class="container text-center">
      <h2 class="title">Who we are?</h2>
      <h5 class="description">
          2150 Times is a results-driven, digital marketing agency specializing in website design,
          mobile app development, and online marketing. 2150 Times’s mission is to create websites
          and digital solutions that help grow businesses online.
        </h5>
        <br  />
        <button class="btn btn-primary btn-lg btn-round hideme">More About Us</button>
    </div>
</div>


<div class="section section-bg-secondary">
  <div class="container">
    <div class="row">
      <div class="hidden-sm-down col-md-5">
        <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/hero-image-1.png" style="width:90%" class="desktop-img">
      </div>
      <div class="col-md-7 optimize-ad">
      <h4 class="title">
        WEBSITES
      </h4>
      <h2 class="title">
        Optimized
      </h2>
      <h4 class="title">
        FOR
      </h4>
      <h5 class="description">
        <span class="rotate">
          Mobile,
          Tablets,
          Desktops
        </span>
      </h5>
        <br  />
        <!--<button class="btn btn-lg btn-tertiary">More About Us</button>-->
      </div>
    </div>
    <br >
    <h2 class="title text-center" style="color:white">What we do?</h2>
    <br >
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div href="#"  data-toggle="modal" data-target="#brandingModal">
        <!-- Design and Development -->
        <div class="card">
          <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCcEM6CHPkmQ8w8PKUcESgNL86FQP2u2cUkfhwdtTS1Gl8FV8W" alt="Card image cap">
          <div class="card-block text-center">
            <h4 class="card-title text-center">BRANDING</h4>
            <p class="card-text description">
              Understanding the client, outlining a plan and executing the creative
              that attracts customers.
            </p>
            <button class="btn btn-primary hideme">
              <i class="fa fa-industry" aria-hidden="true"></i>
            </button>
          </div>
       </div>
       </div>
      </div>

      <div class="col-sm-12 col-md-6">
        <!-- Design and Development -->
      <div href="#"  data-toggle="modal" data-target="#designModal">
        <div class="card">
          <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCcEM6CHPkmQ8w8PKUcESgNL86FQP2u2cUkfhwdtTS1Gl8FV8W" alt="Card image cap">
          <div class="card-block text-center">
            <h4 class="card-title">DESIGN & DEVELOPMENT</h4>
            <p class="card-text description">
            Creating the custom digital solutions that extend your brand that
            clients interact with every day.
            </p>
            <button href="#" class="btn btn-primary hideme">
              <i class="fa fa-code" aria-hidden="true"></i>
            </button>
          </div>
       </div>
      </div>
      </div>

      <div class="col-sm-12 col-md-6">
        <!-- Design and Development -->
      <div href="#"  data-toggle="modal" data-target="#marketingModal">
        <div class="card">
          <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCcEM6CHPkmQ8w8PKUcESgNL86FQP2u2cUkfhwdtTS1Gl8FV8W" alt="Card image cap">
          <div class="card-block text-center">
            <h4 class="card-title">MARKETING</h4>
            <p class="card-text description">
              Elevating brands with ROI-centric campaigns across digital and
              traditional marketing mediums.
            </p>
            <button href="#" class="btn btn-primary hideme">
              <i class="fa fa-line-chart" aria-hidden="true"></i>
            </button>
            </div>
          </div>
      </div>
    </div>
    </div>
  </div>
  <br />
  <br />
  <div class="row">
    <div class="col-xs-12" style="width: 100%;text-align: center;">
      <a href="/static_pages/index" class="btn btn-lg btn-round btn-tertiary hideme" > Our Services</a>
    </div>
  </div>
</div>

<div class="section section-team text-center ">
            <div class="container">
                <h2 class="title">Here is our team</h2>
                <div class="team">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="team-player">
                                <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/avatar.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                                <h4 class="title">Kris Chery</h4>
                                <p class="category text-primary">Model</p>
                                <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                    <a href="#">links</a> for people to be able to follow them outside the site.</p>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini"><i class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini"><i class="fa fa-instagram"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini"><i class="fa fa-facebook-square"></i></a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="team-player">
                                <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/ryan.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                                <h4 class="title">Bryan Studway</h4>
                                <p class="category text-primary">Designer</p>
                                <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                    <a href="#">links</a> for people to be able to follow them outside the site.</p>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini"><i class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="team-player">
                                <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/eva.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                                <h4 class="title">Mark Katrich</h4>
                                <p class="category text-primary">Fashion</p>
                                <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                    <a href="#">links</a> for people to be able to follow them outside the site.</p>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini"><i class="fa fa-google-plus"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini"><i class="fa fa-youtube-play"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini"><i class="fa fa-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>

<!-- contact us sections start -->
    <%= render 'layouts/components/contact-us-section' %>
<!-- contact us sections end -->

<!-- Modal 1 -->
<div class="modal fade" id="marketingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h5 class="modal-title" id="myModalLabel">
          MARKETING
        </h5>
      </div>
      <div class="modal-body text-center">
        <h4>
          <i class="fa fa-line-chart fa-2x" aria-hidden="true" style="color:#F9633E;padding: 7%;background: gainsboro;border-radius: 50%;"></i>
        </h4>
        Taking existing data from organic and paid campaigns and creating an executable
        plan going forward. From analyzing competition, click rates and click costs
        to phasing in different tiers of campaign release, 2150 Times works with client
        to establish the right mix of SEO and Paid services.
        <br />
        <br />
        Focus is on launching marketing campaigns that drive conversions through organic and paid mediums,
        tracking and optimizing client acquisition costs, reporting on current trends
        and projecting effectiveness and budgets.
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Web development Design -->
<div class="modal fade" id="designModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h5 class="modal-title" id="myModalLabel">
          DESIGN
        </h5>
      </div>
      <div class="modal-body text-center">
        <h4>
          <i class="fa fa-code fa-2x" aria-hidden="true" style="color:#F9633E;padding: 7%;background: gainsboro;border-radius: 50%;"></i>
        </h4>
          <b>Like the phrase ‘beauty is in the eye of the beholder’</b>, effective
           web design is judged by the <i>users</i> of the website and not the
           website owners. There are many factors that affect the usability of a website,
           and it is not just about form (how good it looks), but also function (how easy is it to use).
        <br />
        <i class="text-muted">
          Websites that are not well designed tend to perform poorly and have sub-optimal
          Google Analytics metrics
        </i>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Branding -->
<div class="modal fade" id="brandingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h5 class="modal-title" id="myModalLabel">
          BRANDING
        </h5>
      </div>
      <div class="modal-body text-center">
        <h4>
          <i class="fa fa-industry fa-2x" aria-hidden="true" style="color:#F9633E;padding: 7%;background: gainsboro;border-radius: 50%;"></i>
        </h4>
        <b>A brand</b> is a symbol. Symbols are designs which represent something else,
        and a brand is meant to package all of the associations, experiences and
        characteristics into an abstract construct.
        <br />
        <br />
        This construct can be evoked using consistent <b>imagery, sounds, phrases and
        logos</b> with which people come into contact.
        <br />
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<!-- <body class="profile-page">
  <div class="wrapper">
      <div class="page-header page-header-small" filter-color="orange">
          <div class="page-header-image" data-parallax="true" style="background-image: url('http://demos.creative-tim.com/now-ui-kit/assets/img/bg5.jpg');">
          </div>
          <div class="container">
              <div class="content-center">
                  <div class="photo-container">
                      <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/ryan.jpg" alt="">
                  </div>
                  <h3 class="title">Ryan Scheinder</h3>
                  <p class="category">Photographer</p>
                  <div class="content">
                      <div class="social-description">
                          <h2>26</h2>
                          <p>Comments</p>
                      </div>
                      <div class="social-description">
                          <h2>26</h2>
                          <p>Comments</p>
                      </div>
                      <div class="social-description">
                          <h2>48</h2>
                          <p>Bookmarks</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="section">
          <div class="container">
              <div class="button-container">
                  <a href="#button" class="btn btn-primary btn-round btn-lg">Follow</a>
                  <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Twitter">
                      <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Instagram">
                      <i class="fa fa-instagram"></i>
                  </a>
              </div>
              <h3 class="title">About me</h3>
              <h5 class="description">An artist of considerable range, Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. An artist of considerable range.</h5>
              <div class="row">
                  <div class="col-md-6 offset-md-3">
                      <h4 class="title text-center">My Portfolio</h4>
                      <div class="nav-align-center">
                          <ul class="nav nav-pills nav-pills-primary" role="tablist">
                              <li class="nav-item">
                                  <a class="nav-link" data-toggle="tab" href="#profile" role="tablist">
                                      <i class="now-ui-icons design_image"></i>
                                  </a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link active" data-toggle="tab" href="#home" role="tablist">
                                      <i class="now-ui-icons location_world"></i>
                                  </a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" data-toggle="tab" href="#messages" role="tablist">
                                      <i class="now-ui-icons sport_user-run"></i>
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
                  Tab panes -->
                  <!-- <div class="tab-content gallery">
                      <div class="tab-pane active" id="home" role="tabpanel">
                          <div class="row">
                              <div class="col-md-10 offset-md-1">
                                  <div class="row collections">
                                      <div class="col-md-6">
                                          <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg1.jpg" alt="" class="img-raised">
                                          <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg3.jpg" alt="" class="img-raised">
                                      </div>
                                      <div class="col-md-6">
                                          <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg8.jpg" alt="" class="img-raised">
                                          <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg7.jpg" alt="" class="img-raised">
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="tab-pane" id="profile" role="tabpanel">
                          <div class="row">
                              <div class="col-md-10 offset-md-1">
                                  <div class="row collections">
                                      <div class="col-md-6">
                                          <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg6.jpg" class="img-raised">
                                          <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg11.jpg" alt="" class="img-raised">
                                      </div>
                                      <div class="col-md-6">
                                          <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg7.jpg" alt="" class="img-raised">
                                          <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg8.jpg" alt="" class="img-raised">
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="tab-pane" id="messages" role="tabpanel">
                          <div class="row">
                              <div class="col-md-10 offset-md-1">
                                  <div class="row collections">
                                      <div class="col-md-6">
                                          <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg3.jpg" alt="" class="img-raised">
                                          <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg8.jpg" alt="" class="img-raised">
                                      </div>
                                      <div class="col-md-6">
                                          <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg7.jpg" alt="" class="img-raised">
                                          <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg6.jpg" class="img-raised">
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div> -->
<!-- </body> -->
