
<div class="page-header page-header-small clear-filter" filter-color="orange">
            <div class="page-header-image" data-parallax="true" style="background-image: url('http://demos.creative-tim.com/now-ui-kit/assets/img/header.jpg');">
            </div>
            <div class="container">
                <div class="content-center">
                    <h1 class="title text-center">Our Services</h1>
                    <h3 class="description text-center">
                      From A to Z.
                    </h3>
                </div>
            </div>
</div>

<div class="section">
    <div class="container text-center">
      <h5 class="description">
        A brand is commonly thought of as a logo, a website, or a commercial; however,
        there are a number of complex elements that each embody the look, tone, and
        voice of an organization. This is why we strategize every step along the way
        and strive to call attention to each detail and facet that supports your brand
        as a whole..
        </h5>
        <br  />
        <ul class="call-us-action-list">
          <li>AlREADY KNOW WHAT YOU NEED?</li>
          <li>
            <a href="tel:847-509-1101" class="btn btn-primary btn-lg btn-round hideme">
              Let's Get Started
            </a>
          </li>
        </ul>
    </div>
</div>

  <div class="container-fluid">
    <div class="row service-container">
      <div class="col-xs-12 col-md-6">
        <div class="service">
          
          <div class="row">
            <br>
            <h3>
              <ul class="service-title">
                <li><i class="fa fa-bullseye" aria-hidden="true"></i></li>
                <li>Branding</li>
              </ul>
            </h3>
            <br>
            <div class="hidden-sm-down col-xs-12">
              <p class="description">
                The first impression of your company transcends more than just a logo.
                Creating a look and feel which tailors to your company's target market
                should be approached with strategy and purpose.
              </p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-xs-6">
              <ul class="service-list">
                <li>Logos</li>
                <li>Copywriting</li>
                <li>Photography</li>
              </ul>
            </div>
            
            <div class="col-xs-6">
              <ul class="service-list">
                <li>Typography</li>
                <li>Tone &amp; Voice</li>
              </ul>
            </div>
          </div>
          <br>
          <br>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="service">
          
          <div class="row">
            <br>
            <h3>
              <ul class="service-title">
                <li><i class="fa fa-braille" aria-hidden="true"></i></li>
                <li>Research &amp; Strategy</li>
              </ul>
            </h3>
            <br>
            <div class="hidden-sm-down col-xs-12">
              <p class="description">
                Superior research to establish the best foundation is necessary to
                launch a successful project or campaign. Pairing a project with
                thoughtful strategy helps roadmap the path forward.
              </p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-xs-6">
              <ul class="service-list">
                <li>Discovery</li>
                <li>Content Strategy</li>
                <li>Consulting</li>
              </ul>
            </div>
            
            <div class="col-xs-6">
              <ul class="service-list">
                <li>Wireframes</li>
                <li>Information Architecture</li>
              </ul>
            </div>
          </div>
          
          <br>
          <br>
          
        </div>
      </div>
    </div>
    <div class="row service-container-inverse">
      <div class="col-xs-12 col-md-6">
        <div class="service">
          
          <div class="row">
            <br>
            <h3>
              <ul class="service-title">
                <li><i class="fa fa-cubes" aria-hidden="true"></i></li>
                <li>Graphic Design</li>
              </ul>
            </h3>
            <br>
            <div class="hidden-sm-down col-sm-12">
              <p class="description">
                Various applications of branding that is used to engage customers 
                and improve interactions, essentially the look and feel of how your
                brand reaches out to the world.
              </p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-xs-6">
              <ul class="service-list">
                <li>Digital Design</li>
                <li>Packaging</li>
                <li>Illustration/Icons</li>
              </ul>
            </div>
            
            <div class="col-xs-6">
              <ul class="service-list">
                <li>Print</li>
                <li>Advertising Promotional</li>
              </ul>
            </div>
          </div>
          
          <br>
          <br>
          
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="service">
          
          <div class="row">
            <br>
            <h3>
              <ul class="service-title">
                <li><i class="fa fa-globe" aria-hidden="true"></i></li>
                <li>Web Design</li>
              </ul>
            </h3>
            <br>
            <div class="hidden-sm-down col-xs-12">
              <p class="description">
              Creating fully custom designed websites that focus on the UX, UI, 
              and content development strategy being deployed to drive conversions.
              Through research and design we aim to create award-winning websites.
              </p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-xs-6">
              <ul class="service-list">
                <li>User Interface Design</li>
                <li>User Experience Design</li>
              </ul>
            </div>
            
            <div class="col-xs-6">
              <ul class="service-list">
                <li>Content Development</li>
                <li>Data Visualization</li>
              </ul>
            </div>
          </div>
          
          <br>
          <br>
          
        </div>
      </div>
    </div>
    
    <div class="row service-container">
      <div class="col-xs-12 col-md-6">
        <div class="service">
          
          <div class="row">
            <br>
            <h3>
              <ul class="service-title">
                <li><i class="fa fa-camera-retro" aria-hidden="true"></i></li>
                <li>Media</li>
              </ul>
            </h3>
            <br>
            <div class="hidden-sm-down col-sm-12">
              <p class="description">
              To help elicit emotion and drive consumer interaction, we plan and
              produce photography and videography elements to be paired with digital
              and print initiatives.
              </p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-xs-6">
              <ul class="service-list">
                <li>Photography</li>
                <li>Videography</li>
              </ul>
            </div>
          </div>
          
          <br>
          <br>
          
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="service">
          
          <div class="row">
            <br>
            <h3>
              <ul class="service-title">
                <li><i class="fa fa-code" aria-hidden="true"></i></li>
                <li>Development</li>
              </ul>
            </h3>
            <br>
            <div class="hidden-sm-down col-xs-12">
            <p class="description">
            Converting custom designed websites, portals and applications into 
            functional, revenue-generating business models; all while utilzing 
            basic HTML / CSS to MVC frameworks requiring custom API builds.
            </p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-xs-6">
              <ul class="service-list">
                <li>Front-End</li>
                <li>Back-End</li>
                <li>E-commerce</li>
              </ul>
            </div>
            
            <div class="col-xs-6">
              <ul class="service-list">
                <li>Application</li>
                <li>Integration</li>
              </ul>
            </div>
          </div>
          
          <br>
          <br>
          
        </div>
      </div>
    </div>
  </div>

<!--Portfolio Section-->
<%= render "static_pages/home/portfolio" %>
<!--Portfolio Section End -->