
<div class="page-header page-header-small clear-filter" filter-color="orange">
            <div class="page-header-image" data-parallax="true" style="background-image: url('http://demos.creative-tim.com/now-ui-kit/assets/img/header.jpg');">
            </div>
            <div class="container">
                <div class="content-center">
                    <h1 class="title text-center">Components Documentation</h1>
                    <h3 class="description text-center">Elements description - v1.0.0</h3>
                </div>
            </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="fixed-section">
          <ul>
            <li>
              <a href="#license">License</a>
            </li>
            <li>
              <a href="#tutorial">Tutorial</a>
            </li>
            <li>
              <a href="#buttons-row">Buttons</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-8 col-md-12">
        <div class="tim-row tim-row-first" id="license">
          <h2 class="text-center">License</h2>
          <legend></legend>
            <p>
              Currently, on
              <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> you can get the products with three types of licenses: MIT License, Personal License or Developer License. All the freebies are licensed to MIT License as default. If you are making a paid purchase, be sure to go through the table with the rights and the guidelines, so you can know what license is the best fit for you (Personal License or Developer License). View the rights table and the description for each license on our <a target="_blank" href="https://www.creative-tim.com/license?ref=license-page-nuk-free">Official License Page</a>.
            </p>
      </div>
      </div>

      <div class="col-lg-8 col-md-12">
        <div class="tim-row tim-row-first" id="tutorial">
          <h2 class="text-center">Turorial</h2>
          <legend></legend>
            <p>
              Currently, on
              <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> you can get the products with three types of licenses: MIT License, Personal License or Developer License. All the freebies are licensed to MIT License as default. If you are making a paid purchase, be sure to go through the table with the rights and the guidelines, so you can know what license is the best fit for you (Personal License or Developer License). View the rights table and the description for each license on our <a target="_blank" href="https://www.creative-tim.com/license?ref=license-page-nuk-free">Official License Page</a>.
            </p>
      </div>
      </div>

      <div class="col-lg-8 col-md-12">
        <div class="tim-row tim-row-first" id="buttons-row">
          <h2 class="text-center">Buttons </h2>
          <legend></legend>
            <p>
              Currently, on
              <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> you can get the products with three types of licenses: MIT License, Personal License or Developer License. All the freebies are licensed to MIT License as default. If you are making a paid purchase, be sure to go through the table with the rights and the guidelines, so you can know what license is the best fit for you (Personal License or Developer License). View the rights table and the description for each license on our <a target="_blank" href="https://www.creative-tim.com/license?ref=license-page-nuk-free">Official License Page</a>.
            </p>
      </div>
      </div>

  </div>
</div>
