
<div class="page-header page-header-small clear-filter" filter-color="orange">
            <div class="page-header-image" data-parallax="true" style="background-image: url('http://demos.creative-tim.com/now-ui-kit/assets/img/header.jpg');">
            </div>
            <div class="container">
                <div class="content-center">
                    <h1 class="title text-center">Our Services</h1>
                    <h3 class="description text-center">From Imagination to Design.</h3>
                </div>
            </div>
</div>

<div class="section">
    <div class="container text-center">
      <h2 class="title">Who we are?</h2>
      <h5 class="description">
          2150 Times is a results-driven, digital marketing agency specializing in website design,
          mobile app development, and online marketing. 2150 Times’s mission is to create websites
          and digital solutions that help grow businesses online.
        </h5>
        <br  />
        <button class="btn btn-primary btn-lg btn-round hideme">More About Us</button>
    </div>
</div>

  <div class="container-fluid">
    <div class="row service-container">
      <div class="col-xs-12 col-md-6">
        <div class="service">
          
          <div class="row">
            <br >
            <h3>Title</h3>
            <br >
            <div class="hidden-sm-down col-xs-12">
              2150 Times is a results-driven, digital marketing agency specializing in website design,
              mobile app development, and online marketing. 2150 Times’s mission is to create websites
              and digital solutions that help grow businesses online.
            </div>
          </div>
          <br >
          <div class="row">
            <div class="col-xs-6">
              <ul>
                <li>Apple</li>
                <li>Tree</li>
                <li>House of Pancakes</li>
              </ul>
            </div>
            
            <div class="col-xs-6">
              <ul>
                <li>Apple</li>
                <li>Tree</li>
                <li>House of Pancakes</li>
              </ul>
            </div>
          </div>
          
          <br >
          <br >
          
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="service">
          
          <div class="row">
            <br >
            <h3>Title</h3>
            <br >
            <div class="hidden-sm-down col-xs-12">
              2150 Times is a results-driven, digital marketing agency specializing in website design,
              mobile app development, and online marketing. 2150 Times’s mission is to create websites
              and digital solutions that help grow businesses online.
            </div>
          </div>
          <br >
          <div class="row">
            <div class="col-xs-6">
              <ul>
                <li>Apple</li>
                <li>Tree</li>
                <li>House of Pancakes</li>
              </ul>
            </div>
            
            <div class="col-xs-6">
              <ul>
                <li>Apple</li>
                <li>Tree</li>
                <li>House of Pancakes</li>
              </ul>
            </div>
          </div>
          
          <br >
          <br >
          
        </div>
      </div>
    </div>
    <div class="row service-container-inverse">
      <div class="col-xs-12 col-md-6">
        <div class="service">
          
          <div class="row">
            <br >
            <h3>
              <ul class="service-title">
                <li><i class="fa fa-code" aria-hidden="true"></i></li>
                <li>Title</li>
              </ul>
            </h3>
            <br >
            <div class="hidden-sm-down col-sm-12">
              2150 Times is a results-driven, digital marketing agency specializing in website design,
              mobile app development, and online marketing. 2150 Times’s mission is to create websites
              and digital solutions that help grow businesses online.
            </div>
          </div>
          <br >
          <div class="row">
            <div class="col-xs-6">
              <ul>
                <li>Apple</li>
                <li>Tree</li>
                <li>House of Pancakes</li>
              </ul>
            </div>
            
            <div class="col-xs-6">
              <ul>
                <li>Apple</li>
                <li>Tree</li>
                <li>House of Pancakes</li>
              </ul>
            </div>
          </div>
          
          <br >
          <br >
          
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="service">
          
          <div class="row">
            <br >
            <h3>
              <ul class="service-title">
                <li><i class="fa fa-industry" aria-hidden="true"></i></li>
                <li><span>Title</span></li>
              </ul>
            </h3>
            <br >
            <div class="hidden-sm-down col-xs-12">
              2150 Times is a results-driven, digital marketing agency specializing in website design,
              mobile app development, and online marketing. 2150 Times’s mission is to create websites
              and digital solutions that help grow businesses online.
            </div>
          </div>
          <br >
          <div class="row">
            <div class="col-xs-6">
              <ul>
                <li>Apple</li>
                <li>Tree</li>
                <li>House of Pancakes</li>
              </ul>
            </div>
            
            <div class="col-xs-6">
              <ul>
                <li>Apple</li>
                <li>Tree</li>
                <li>House of Pancakes</li>
              </ul>
            </div>
          </div>
          
          <br >
          <br >
          
        </div>
      </div>
    </div>
    
    <div class="row service-container">
      <div class="col-xs-12 col-md-6">
        <div class="service">
          
          <div class="row">
            <br >
            <h3>
              <ul class="service-title">
                <li><i class="fa fa-code" aria-hidden="true"></i></li>
                <li>Title</li>
              </ul>
            </h3>
            <br >
            <div class="hidden-sm-down col-sm-12">
              2150 Times is a results-driven, digital marketing agency specializing in website design,
              mobile app development, and online marketing. 2150 Times’s mission is to create websites
              and digital solutions that help grow businesses online.
            </div>
          </div>
          <br >
          <div class="row">
            <div class="col-xs-6">
              <ul>
                <li>Apple</li>
                <li>Tree</li>
                <li>House of Pancakes</li>
              </ul>
            </div>
            
            <div class="col-xs-6">
              <ul>
                <li>Apple</li>
                <li>Tree</li>
                <li>House of Pancakes</li>
              </ul>
            </div>
          </div>
          
          <br >
          <br >
          
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="service">
          
          <div class="row">
            <br >
            <h3>
              <ul class="service-title">
                <li><i class="fa fa-industry" aria-hidden="true"></i></li>
                <li><span>Title</span></li>
              </ul>
            </h3>
            <br >
            <div class="hidden-sm-down col-xs-12">
              2150 Times is a results-driven, digital marketing agency specializing in website design,
              mobile app development, and online marketing. 2150 Times’s mission is to create websites
              and digital solutions that help grow businesses online.
            </div>
          </div>
          <br >
          <div class="row">
            <div class="col-xs-6">
              <ul>
                <li>Apple</li>
                <li>Tree</li>
                <li>House of Pancakes</li>
              </ul>
            </div>
            
            <div class="col-xs-6">
              <ul>
                <li>Apple</li>
                <li>Tree</li>
                <li>House of Pancakes</li>
              </ul>
            </div>
          </div>
          
          <br >
          <br >
          
        </div>
      </div>
    </div>
  </div>

<!--Portfolio Section-->
<%= render "static_pages/home/portfolio" %>
<!--Portfolio Section End -->