
  <!-- <div class="section section-bg-secondary">
      <br />
      <br />
      <br />
      <br />
      <br />
      <div class="container text-center">
        <h3 class="title">About me</h3>
        <h5 class="description">
          An artist of considerable range, Ryan — the name taken by Melbourne-raised,
           Brooklyn-based Nick Murphy — writes, performs and records all of his own
           music, giving it a warm, intimate feel with a solid groove structure.
            An artist of considerable range.
          </h5>
          <br  />
          <button class="btn btn-primary btn-lg btn-round">More About Us</button>
      </div>
  </div> -->
  <div class="page-header page-header-small">
              <div class="page-header-image" data-parallax="true" style="background-image: url('http://demos.creative-tim.com/now-ui-kit/assets/img/bg5.jpg'); transform: translate3d(0px, 0px, 0px);">
              </div>
              <div class="container">
                  <div class="content-center">
                      <h1 class="title">This is our great company.</h1>
                      <div class="text-center">
                          <a href="#pablo" class="btn btn-primary btn-icon  btn-icon-mini">
                              <i class="fa fa-facebook-square"></i>
                          </a>
                          <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini">
                              <i class="fa fa-twitter"></i>
                          </a>
                          <a href="#pablo" class="btn btn-primary btn-icon  btn-icon-mini">
                              <i class="fa fa-google-plus"></i>
                          </a>
                      </div>
                  </div>
              </div>
          </div>

  <div class="row">
      <div class="col-md-6 offset-md-3">
        <br />
          <h4 class="title text-center">My Portfolio</h4>
        <br />
          <div class="nav-align-center">
              <ul class="nav nav-pills nav-pills-primary" role="tablist">
                  <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#profile" role="tablist">
                          <i class="now-ui-icons design_image"></i>
                      </a>
                    <span class="text-muted">Dentist</span>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#home" role="tablist">
                          <i class="now-ui-icons location_world"></i>
                      </a>
                    <span class="text-muted">Architecture</span>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#messages" role="tablist">
                          <i class="now-ui-icons sport_user-run"></i>
                      </a>
                      <span class="text-muted">Others</span>
                  </li>
              </ul>
          </div>
          <br />
      </div>

      <!-- Tab panes -->
      <div class="tab-content gallery">
          <div class="tab-pane active" id="home" role="tabpanel">
              <div class="row">
                  <div class="col-md-10 offset-md-1">
                      <div class="row collections">
                          <div class="col-md-6">
                              <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg1.jpg" alt="" class="img-raised">
                              <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg3.jpg" alt="" class="img-raised">
                          </div>
                          <div class="col-md-6">
                              <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg8.jpg" alt="" class="img-raised">
                              <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg7.jpg" alt="" class="img-raised">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="tab-pane" id="profile" role="tabpanel">
              <div class="row">
                  <div class="col-md-10 offset-md-1">
                      <div class="row collections">
                          <div class="col-md-6">
                              <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg6.jpg" class="img-raised">
                              <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg11.jpg" alt="" class="img-raised">
                          </div>
                          <div class="col-md-6">
                              <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg7.jpg" alt="" class="img-raised">
                              <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg8.jpg" alt="" class="img-raised">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="tab-pane" id="messages" role="tabpanel">
              <div class="row">
                  <div class="col-md-10 offset-md-1">
                      <div class="row collections">
                          <div class="col-md-6">
                              <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg3.jpg" alt="" class="img-raised">
                              <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg8.jpg" alt="" class="img-raised">
                          </div>
                          <div class="col-md-6">
                              <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg7.jpg" alt="" class="img-raised">
                              <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg6.jpg" class="img-raised">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <br />
      <br />
  </div>

  <div class="section">
    <div class="container">
      <h2 class="title text-center">Want to start a new project?</h2>
      <!-- <p class="description">Stop Waiting. Start Building</p> -->
      <br />
      <div class="row">
        <ul class="col-xs-12 col-md-4 text-center" style="padding: 0;list-style-type: none;">
          <li>
            <button class="btn btn-primary btn-lg btn-round">
            	<i class="now-ui-icons ui-2_favourite-286"></i> With Icon
            </button>
          </li>
          <li>
            <button class="btn btn-primary btn-lg btn-round">
            	<i class="now-ui-icons ui-2_favourite-286"></i> With Icon
            </button>
          </li>
          <div class="row">
            <div class="col-xs-12" style="width: 100%;text-align: center;">
              <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini"><i class="fa fa-twitter"></i></a>
              <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini"><i class="fa fa-instagram"></i></a>
              <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini"><i class="fa fa-facebook-square"></i></a>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
