
  <!-- <div class="section section-bg-secondary">
      <br />
      <br />
      <br />
      <br />
      <br />
      <div class="container text-center">
        <h3 class="title">About me</h3>
        <h5 class="description">
          An artist of considerable range, Ryan — the name taken by Melbourne-raised,
           Brooklyn-based Nick Murphy — writes, performs and records all of his own
           music, giving it a warm, intimate feel with a solid groove structure.
            An artist of considerable range.
          </h5>
          <br  />
          <button class="btn btn-primary btn-lg btn-round">More About Us</button>
      </div>
  </div> -->
  <div class="page-header page-header-small">
              <div class="page-header-image" data-parallax="true" style="background-image: url('http://demos.creative-tim.com/now-ui-kit/assets/img/bg5.jpg'); transform: translate3d(0px, 0px, 0px);">
              </div>
              <div class="container">
                  <div class="content-center">
                      <h1 class="title">This is our great company.</h1>
                      <div class="text-center">
                          <a href="#pablo" class="btn btn-primary btn-icon  btn-icon-mini">
                              <i class="fa fa-facebook-square"></i>
                          </a>
                          <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini">
                              <i class="fa fa-twitter"></i>
                          </a>
                          <a href="#pablo" class="btn btn-primary btn-icon  btn-icon-mini">
                              <i class="fa fa-google-plus"></i>
                          </a>
                      </div>
                  </div>
              </div>
    </div>
    
<div class="section">
    <div class="container text-center">
      <h2 class="title">Who we are?</h2>
      <h5 class="description">
          2150 Times is a results-driven, digital marketing agency specializing in website design,
          mobile app development, and online marketing. 2150 Times’s mission is to create websites
          and digital solutions that help grow businesses online.
        </h5>
        <br  />
        <button class="btn btn-primary btn-lg btn-round hideme">More About Us</button>
    </div>
</div>

<div class="section">
  <div class="container">
      <div class="row">
      <div class="col-sm-12 col-md-4">
        <div href="#"  data-toggle="modal" data-target="#brandingModal">
        <!-- Design and Development -->
        <div class="card">
          <img class="card-img-top" src="https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/21105555_10155670867852920_539109938448924283_n.jpg?oh=15a23e6a2ea20c9df6ef6e73c1bb761f&oe=5A28D2A9" alt="Card image cap">
          <div class="card-block text-center">
            <h4 class="card-title text-center">BRANDING</h4>
            <p class="card-text description">
              Understanding the client, outlining a plan and executing the creative
              that attracts customers.
            </p>
            <button class="btn btn-primary hideme">
              <i class="fa fa-industry" aria-hidden="true"></i>
            </button>
          </div>
       </div>
       </div>
      </div>

      <div class="col-sm-12 col-md-4">
        <!-- Design and Development -->
      <div href="#"  data-toggle="modal" data-target="#designModal">
        <div class="card">
          <img class="card-img-top" src="https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/21077408_10155670897347920_8499695936313285488_n.jpg?oh=98802824795f1063801214dab7377c5a&oe=5A5F0A3A" alt="Card image cap">
          <div class="card-block text-center">
            <h4 class="card-title">UX / UI DESIGN</h4>
            <p class="card-text description">
            Creating the custom digital solutions that extend your brand that
            clients interact with every day.
            </p>
            <button href="#" class="btn btn-primary hideme">
              <i class="fa fa-code" aria-hidden="true"></i>
            </button>
          </div>
       </div>
      </div>
      </div>
      
      <div class="col-sm-12 col-md-4">
        <!-- Design and Development -->
      <div href="#"  data-toggle="modal" data-target="#marketingModal">
        <div class="card">
          <img class="card-img-top" src="https://www.rokusek.com/wp-content/uploads/2017/01/trends.jpg" alt="Card image cap">
          <div class="card-block text-center">
            <h4 class="card-title">MARKETING</h4>
            <p class="card-text description">
              Elevating brands with ROI-centric campaigns across digital and
              traditional marketing mediums.
            </p>
            <button href="#" class="btn btn-primary hideme">
              <i class="fa fa-line-chart" aria-hidden="true"></i>
            </button>
            </div>
          </div>
      </div>
      </div>
      
      <div class="col-sm-12 col-md-4">
        <!-- Design and Development -->
      <div href="#"  data-toggle="modal" data-target="#designModal">
        <div class="card">
          <img class="card-img-top" src="https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/21150310_10155670921712920_178212255871614895_n.jpg?oh=2fe56e7dc4215b58f94ec1134e192436&oe=5A2732FA" alt="Card image cap">
          <div class="card-block text-center">
            <h4 class="card-title">CODE DEVELOPMENT</h4>
            <p class="card-text description">
            Creating the custom digital solutions that extend your brand that
            clients interact with every day.
            </p>
            <button href="#" class="btn btn-primary hideme">
              <i class="fa fa-code" aria-hidden="true"></i>
            </button>
          </div>
       </div>
      </div>
      </div>
      <div class="col-sm-12 text-center">
        <br >
        <button class="btn btn-tertiary btn-lg btn-round hideme">Our Services</button>
        <br >
      </div>
    </div>
  </div>
</div>
  <!--<div class="row">-->
  <!--    <div class="col-md-6 offset-md-3">-->
  <!--      <br />-->
  <!--        <h4 class="title text-center">My Portfolio</h4>-->
  <!--      <br />-->
  <!--        <div class="nav-align-center">-->
  <!--            <ul class="nav nav-pills nav-pills-primary" role="tablist">-->
  <!--                <li class="nav-item">-->
  <!--                    <a class="nav-link" data-toggle="tab" href="#profile" role="tablist">-->
  <!--                        <i class="now-ui-icons design_image"></i>-->
  <!--                    </a>-->
  <!--                  <span class="text-muted">Dentist</span>-->
  <!--                </li>-->
  <!--                <li class="nav-item">-->
  <!--                    <a class="nav-link active" data-toggle="tab" href="#home" role="tablist">-->
  <!--                        <i class="now-ui-icons location_world"></i>-->
  <!--                    </a>-->
  <!--                  <span class="text-muted">Architecture</span>-->
  <!--                </li>-->
  <!--                <li class="nav-item">-->
  <!--                    <a class="nav-link" data-toggle="tab" href="#messages" role="tablist">-->
  <!--                        <i class="now-ui-icons sport_user-run"></i>-->
  <!--                    </a>-->
  <!--                    <span class="text-muted">Others</span>-->
  <!--                </li>-->
  <!--            </ul>-->
  <!--        </div>-->
  <!--        <br />-->
  <!--    </div>-->

      <!-- Tab panes -->
  <!--    <div class="tab-content gallery">-->
  <!--        <div class="tab-pane active" id="home" role="tabpanel">-->
  <!--            <div class="row">-->
  <!--                <div class="col-md-10 offset-md-1">-->
  <!--                    <div class="row collections">-->
  <!--                        <div class="col-md-6">-->
  <!--                            <img src="https://scontent-ort2-2.xx.fbcdn.net/v/t31.0-8/21125420_10155671497322920_6569018845884383994_o.jpg?oh=e7799dd44408065b91b40a00fb09cae7&oe=5A2859A3" alt="" class="img-raised">-->
  <!--                            <img src="https://scontent-ort2-2.xx.fbcdn.net/v/t31.0-8/21125743_10155671496917920_1676723183187521758_o.jpg?oh=3a675472952c75d64bc4faba8539a2dc&oe=5A2DD8F8" alt="" class="img-raised">-->
  <!--                        </div>-->
  <!--                        <div class="col-md-6">-->
  <!--                            <img src="https://scontent-ort2-2.xx.fbcdn.net/v/t31.0-8/21122262_10155671497192920_1489397568874424411_o.jpg?oh=59861c660b3d61979bfb0197e06fa34c&oe=5A60DA6A" alt="" class="img-raised">-->
  <!--                            <img src="https://scontent-ort2-2.xx.fbcdn.net/v/t31.0-8/21125743_10155671496917920_1676723183187521758_o.jpg?oh=3a675472952c75d64bc4faba8539a2dc&oe=5A2DD8F8" alt="" class="img-raised">-->
  <!--                        </div>-->
  <!--                    </div>-->
  <!--                </div>-->
  <!--            </div>-->
  <!--        </div>-->
  <!--        <div class="tab-pane" id="profile" role="tabpanel">-->
  <!--            <div class="row">-->
  <!--                <div class="col-md-10 offset-md-1">-->
  <!--                    <div class="row collections">-->
  <!--                        <div class="col-md-6">-->
  <!--                            <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg6.jpg" class="img-raised">-->
  <!--                            <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg11.jpg" alt="" class="img-raised">-->
  <!--                        </div>-->
  <!--                        <div class="col-md-6">-->
  <!--                            <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg7.jpg" alt="" class="img-raised">-->
  <!--                            <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg8.jpg" alt="" class="img-raised">-->
  <!--                        </div>-->
  <!--                    </div>-->
  <!--                </div>-->
  <!--            </div>-->
  <!--        </div>-->
  <!--        <div class="tab-pane" id="messages" role="tabpanel">-->
  <!--            <div class="row">-->
  <!--                <div class="col-md-10 offset-md-1">-->
  <!--                    <div class="row collections">-->
  <!--                        <div class="col-md-6">-->
  <!--                            <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg3.jpg" alt="" class="img-raised">-->
  <!--                            <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg8.jpg" alt="" class="img-raised">-->
  <!--                        </div>-->
  <!--                        <div class="col-md-6">-->
  <!--                            <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg7.jpg" alt="" class="img-raised">-->
  <!--                            <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg6.jpg" class="img-raised">-->
  <!--                        </div>-->
  <!--                    </div>-->
  <!--                </div>-->
  <!--            </div>-->
  <!--        </div>-->
  <!--    </div>-->
  <!--    <br />-->
  <!--    <br />-->
  <!--</div>-->

