
  <!-- <div class="section section-bg-secondary">
      <br />
      <br />
      <br />
      <br />
      <br />
      <div class="container text-center">
        <h3 class="title">About me</h3>
        <h5 class="description">
          An artist of considerable range, Ryan — the name taken by Melbourne-raised,
           Brooklyn-based Nick Murphy — writes, performs and records all of his own
           music, giving it a warm, intimate feel with a solid groove structure.
            An artist of considerable range.
          </h5>
          <br  />
          <button class="btn btn-primary btn-lg btn-round">More About Us</button>
      </div>
  </div> -->
  <div class="page-header page-header-small">
              <div class="page-header-image" data-parallax="true" style="background-image: url('http://demos.creative-tim.com/now-ui-kit/assets/img/bg5.jpg'); transform: translate3d(0px, 0px, 0px);">
              </div>
              <div class="container">
                  <div class="content-center">
                      <h1 class="title">Portfolio</h1>
                      <div class="text-center">
                          <a href="#pablo" class="btn btn-primary btn-icon  btn-icon-mini">
                              <i class="fa fa-facebook-square"></i>
                          </a>
                          <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini">
                              <i class="fa fa-twitter"></i>
                          </a>
                          <a href="#pablo" class="btn btn-primary btn-icon  btn-icon-mini">
                              <i class="fa fa-google-plus"></i>
                          </a>
                      </div>
                  </div>
              </div>
    </div>
    
<div class="section">
    <div class="container text-center">
      <h2 class="title">Our Approach</h2>
      <h5 class="description">
        Every project is unique, but they all start with one thing in common: 
        we want to know everything. Where you started. Where you want to go next.
        What you value. Who your customers are and why they care about you. 
        The only way to solve a problem is to understand it from every angle.
        Luckily, we’ve got a proven process to quench our insatiable curiosity.
      </h5>
        <br  />
        <ul class="call-us-action-list">
          <li>AlREADY KNOW WHAT YOU NEED?</li>
          <li>
            <a href="tel:847-509-1101" class="btn btn-primary btn-lg btn-round hideme">
              Let's Get Started
            </a>
          </li>
        </ul>
    </div>
</div>

<div class="section">
  <div class="container">
      <div class="row">
      <div class="col-sm-12 col-md-6">
        <!-- Design and Development -->
        <div class="card">
          <img class="card-img-top" src="https://scontent-ort2-2.xx.fbcdn.net/v/t31.0-8/21122262_10155671497192920_1489397568874424411_o.jpg?oh=59861c660b3d61979bfb0197e06fa34c&oe=5A60DA6A" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Simpson Builders</h4>
            <p class="card-text description">
             Architecture & Contruction on the Chicago North Shore
            </p>
            <div class="link-container text-right">
              <a href="http://scottsimpsonbuilders.com/" class="btn btn-neutral btn-portofolio hideme">
                View Project
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
       </div>
      </div>

      <div class="col-sm-12 col-md-6">
        <!-- Design and Development -->
      <div href="#"  data-toggle="modal" data-target="#designModal">
        <div class="card">
          <img class="card-img-top" src="https://scontent-ort2-2.xx.fbcdn.net/v/t31.0-8/21125743_10155671496917920_1676723183187521758_o.jpg?oh=3a675472952c75d64bc4faba8539a2dc&oe=5A2DD8F8" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Jeni's Splendid Ice Cream </h4>
            <p class="card-text description">
              Popular ice cream shop located in Wicker Parker, Chicago. 
            </p>
            <div class="link-container text-right">
              <a href="https://jenis.com/" class="btn btn-neutral btn-portofolio hideme">
                View Project
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
       </div>
      </div>
      </div>
      
      <div class="col-sm-12 col-md-4">
        <!-- Design and Development -->
      <div href="#"  data-toggle="modal" data-target="#marketingModal">
        <div class="card">
          <img class="card-img-top" src="https://scontent-ort2-2.xx.fbcdn.net/v/t31.0-8/21125420_10155671497322920_6569018845884383994_o.jpg?oh=e7799dd44408065b91b40a00fb09cae7&oe=5A2859A3" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Minit Pools</h4>
            <p class="card-text description">
              Minit Pools is a Northbrook, Illinois based swimming pool business
            </p>
            <div class="link-container text-right">
              <a href="http://minitpools.com/" class="btn btn-neutral btn-portofolio hideme">
                View Project
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
              </a>
            </div>
            </div>
          </div>
      </div>
      </div>
      
      <div class="col-sm-12 text-center">
        <br >
        <button class="btn btn-tertiary btn-lg btn-round hideme">Call Us</button>
        <br >
      </div>
    </div>
  </div>
</div>
  <!--<div class="row">-->
  <!--    <div class="col-md-6 offset-md-3">-->
  <!--      <br />-->
  <!--        <h4 class="title text-center">My Portfolio</h4>-->
  <!--      <br />-->
  <!--        <div class="nav-align-center">-->
  <!--            <ul class="nav nav-pills nav-pills-primary" role="tablist">-->
  <!--                <li class="nav-item">-->
  <!--                    <a class="nav-link" data-toggle="tab" href="#profile" role="tablist">-->
  <!--                        <i class="now-ui-icons design_image"></i>-->
  <!--                    </a>-->
  <!--                  <span class="text-muted">Dentist</span>-->
  <!--                </li>-->
  <!--                <li class="nav-item">-->
  <!--                    <a class="nav-link active" data-toggle="tab" href="#home" role="tablist">-->
  <!--                        <i class="now-ui-icons location_world"></i>-->
  <!--                    </a>-->
  <!--                  <span class="text-muted">Architecture</span>-->
  <!--                </li>-->
  <!--                <li class="nav-item">-->
  <!--                    <a class="nav-link" data-toggle="tab" href="#messages" role="tablist">-->
  <!--                        <i class="now-ui-icons sport_user-run"></i>-->
  <!--                    </a>-->
  <!--                    <span class="text-muted">Others</span>-->
  <!--                </li>-->
  <!--            </ul>-->
  <!--        </div>-->
  <!--        <br />-->
  <!--    </div>-->

      <!-- Tab panes -->
  <!--    <div class="tab-content gallery">-->
  <!--        <div class="tab-pane active" id="home" role="tabpanel">-->
  <!--            <div class="row">-->
  <!--                <div class="col-md-10 offset-md-1">-->
  <!--                    <div class="row collections">-->
  <!--                        <div class="col-md-6">-->
  <!--                            <img src="https://scontent-ort2-2.xx.fbcdn.net/v/t31.0-8/21125420_10155671497322920_6569018845884383994_o.jpg?oh=e7799dd44408065b91b40a00fb09cae7&oe=5A2859A3" alt="" class="img-raised">-->
  <!--                            <img src="https://scontent-ort2-2.xx.fbcdn.net/v/t31.0-8/21125743_10155671496917920_1676723183187521758_o.jpg?oh=3a675472952c75d64bc4faba8539a2dc&oe=5A2DD8F8" alt="" class="img-raised">-->
  <!--                        </div>-->
  <!--                        <div class="col-md-6">-->
  <!--                            <img src="https://scontent-ort2-2.xx.fbcdn.net/v/t31.0-8/21122262_10155671497192920_1489397568874424411_o.jpg?oh=59861c660b3d61979bfb0197e06fa34c&oe=5A60DA6A" alt="" class="img-raised">-->
  <!--                            <img src="https://scontent-ort2-2.xx.fbcdn.net/v/t31.0-8/21125743_10155671496917920_1676723183187521758_o.jpg?oh=3a675472952c75d64bc4faba8539a2dc&oe=5A2DD8F8" alt="" class="img-raised">-->
  <!--                        </div>-->
  <!--                    </div>-->
  <!--                </div>-->
  <!--            </div>-->
  <!--        </div>-->
  <!--        <div class="tab-pane" id="profile" role="tabpanel">-->
  <!--            <div class="row">-->
  <!--                <div class="col-md-10 offset-md-1">-->
  <!--                    <div class="row collections">-->
  <!--                        <div class="col-md-6">-->
  <!--                            <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg6.jpg" class="img-raised">-->
  <!--                            <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg11.jpg" alt="" class="img-raised">-->
  <!--                        </div>-->
  <!--                        <div class="col-md-6">-->
  <!--                            <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg7.jpg" alt="" class="img-raised">-->
  <!--                            <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg8.jpg" alt="" class="img-raised">-->
  <!--                        </div>-->
  <!--                    </div>-->
  <!--                </div>-->
  <!--            </div>-->
  <!--        </div>-->
  <!--        <div class="tab-pane" id="messages" role="tabpanel">-->
  <!--            <div class="row">-->
  <!--                <div class="col-md-10 offset-md-1">-->
  <!--                    <div class="row collections">-->
  <!--                        <div class="col-md-6">-->
  <!--                            <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg3.jpg" alt="" class="img-raised">-->
  <!--                            <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg8.jpg" alt="" class="img-raised">-->
  <!--                        </div>-->
  <!--                        <div class="col-md-6">-->
  <!--                            <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg7.jpg" alt="" class="img-raised">-->
  <!--                            <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/bg6.jpg" class="img-raised">-->
  <!--                        </div>-->
  <!--                    </div>-->
  <!--                </div>-->
  <!--            </div>-->
  <!--        </div>-->
  <!--    </div>-->
  <!--    <br />-->
  <!--    <br />-->
  <!--</div>-->

