// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title + .category {
   margin-top: 0px !important;
}

.img-fluid{
  max-width: 40% !important;
}

div.team-player{
  padding: 5% 0%;
}

.card {
  border: 0;
  border-radius: 0.1875rem;
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px;
  border: none !important;
  box-shadow: 0px 5px 25px 0px rgba(44, 44, 44, 0.29);
}

.section-bg-secondary{
  background: #f96332 !important;
  box-shadow: 0 -5px 20px 0 rgba(0, 0, 0, 0.26);
}

.modal-dialog{
  margin: 15% 10px !important;
}

ul.nav-pills-primary > li > span{
  margin-left: -24px;
  font-size: 0.8em;
}

@media (min-width: 576px)  {
  .modal-dialog{
    margin: 15% auto !important;
  }
}
