<div class="section section-bg-secondary">
  <div class="container">
    <h2 class="title text-center" style="color:white">Want to start a new project?</h2>
    <!-- <p class="description">Stop Waiting. Start Building</p> -->
    <br />
    <ul class="text-center" style="padding: 0;list-style-type: none;">
      <li>
        <button class="btn btn-tertiary btn-lg btn-round">
        	<i class="fa fa-phone" aria-hidden="true"></i> 224.509.1101
        </button>
      </li>
      <br />
      <li>
        <button class="btn btn-tertiary btn-lg btn-round" style="text-transform: lowercase;">
        	<i class="fa fa-envelope" aria-hidden="true"></i>
          <a href="mailto:info@2150times.com">info@2150times.com </a>
        </button>
      </li>
    </ul>
    <div class="row">
      <div class="col-xs-12" style="width: 100%;text-align: center;">
        <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini"><i class="fa fa-twitter"></i></a>
        <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini"><i class="fa fa-instagram"></i></a>
        <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini"><i class="fa fa-facebook-square"></i></a>
      </div>
    </div>
  </div>
</div>
