<div class="section section-bg-secondary">
  <div class="container">
    <div class="row">
      <div class="hidden-sm-down col-md-5">
        <img src="http://demos.creative-tim.com/now-ui-kit/assets/img/hero-image-1.png" style="width:90%" class="desktop-img">
      </div>
      <div class="col-md-7 optimize-ad">
      <h4 class="title">
        WEBSITES
      </h4>
      <h2 class="title">
        Optimized
      </h2>
      <h4 class="title">
        FOR
      </h4>
      <h5 class="description">
        <span class="rotate">
          Mobile,
          Tablets,
          Desktops
        </span>
      </h5>
        <br  />
        <!--<button class="btn btn-lg btn-tertiary">More About Us</button>-->
      </div>
    </div>
  </div>
</div>

<div class="section">
 
    <h2 class="title text-center" style="color:white">Want to start a new project?</h2>
    <!-- <p class="description">Stop Waiting. Start Building</p> -->
    <br />
    <ul class="text-center" style="padding: 0;list-style-type: none;">
      <li>
        <button class="btn btn-tertiary btn-lg btn-round">
        	<i class="fa fa-phone" aria-hidden="true"></i> 224.509.1101
        </button>
      </li>
      <br />
      <li>
        <button class="btn btn-tertiary btn-lg btn-round" style="text-transform: lowercase;">
        	<i class="fa fa-envelope" aria-hidden="true"></i>
          <a href="mailto:info@2150times.com">info@2150times.com </a>
        </button>
      </li>
    </ul>
    <div class="row">
      <div class="col-xs-12" style="width: 100%;text-align: center;">
        <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini"><i class="fa fa-twitter"></i></a>
        <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini"><i class="fa fa-instagram"></i></a>
        <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini"><i class="fa fa-facebook-square"></i></a>
      </div>
    </div>
</div>