<div class="section section-bg-secondary">
  <div class="container">
    <br>
    <h2 class="title text-center" style="color:white">
      What we do?
    </h2>
    <br>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div href="#"  data-toggle="modal" data-target="#brandingModal">
        <!-- Design and Development -->
        <div class="card">
          <img class="card-img-top" src="https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/21105555_10155670867852920_539109938448924283_n.jpg?oh=15a23e6a2ea20c9df6ef6e73c1bb761f&oe=5A28D2A9" alt="Card image cap">
          <div class="card-block text-center">
            <h4 class="card-title text-center">BRANDING</h4>
            <p class="card-text description">
              Understanding the client, outlining a plan and executing the creative
              that attracts customers.
            </p>
            <button class="btn btn-primary hideme">
              <i class="fa fa-bullseye fa-2x" aria-hidden="true"></i>
            </button>
          </div>
       </div>
       </div>
      </div>

      <div class="col-sm-12 col-md-6">
        <!-- Design and Development -->
      <div href="#"  data-toggle="modal" data-target="#designModal">
        <div class="card">
          <img class="card-img-top" src="https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/21077408_10155670897347920_8499695936313285488_n.jpg?oh=98802824795f1063801214dab7377c5a&oe=5A5F0A3A" alt="Card image cap">
          <div class="card-block text-center">
            <h4 class="card-title">UX / UI DESIGN</h4>
            <p class="card-text description">
            Creating the custom digital solutions that extend your brand that
            clients interact with every day.
            </p>
            <button href="#" class="btn btn-primary hideme">
              <i class="fa fa-cubes fa-2x" aria-hidden="true"></i>
            </button>
          </div>
       </div>
      </div>
      </div>
      
      <div class="col-sm-12 col-md-6">
        <!-- Design and Development -->
      <div href="#"  data-toggle="modal" data-target="#marketingModal">
        <div class="card">
          <img class="card-img-top" src="https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/21106323_10155672568677920_7678871487145081398_n.jpg?oh=551b467e6d98c81bd519f64a1e931629&oe=5A129F4C" alt="Card image cap">
          <div class="card-block text-center">
            <h4 class="card-title">MARKETING</h4>
            <p class="card-text description">
              Elevating brands with ROI-centric campaigns across digital and
              traditional marketing mediums.
            </p>
            <button href="#" class="btn btn-primary hideme">
              <i class="fa fa-hashtag fa-2x" aria-hidden="true"></i>
            </button>
            </div>
          </div>
      </div>
      </div>
      
      <div class="col-sm-12 col-md-6">
        <!-- Design and Development -->
      <div href="#"  data-toggle="modal" data-target="#designModal">
        <div class="card">
          <img class="card-img-top" src="https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/21150310_10155670921712920_178212255871614895_n.jpg?oh=2fe56e7dc4215b58f94ec1134e192436&oe=5A2732FA" alt="Card image cap">
          <div class="card-block text-center">
            <h4 class="card-title">CODE DEVELOPMENT</h4>
            <p class="card-text description">
            Creating the custom digital solutions that extend your brand that
            clients interact with every day.
            </p>
            <button href="#" class="btn btn-primary hideme">
              <i class="fa fa-code fa-2x" aria-hidden="true"></i>
            </button>
          </div>
       </div>
      </div>
      </div>
      <div class="col-sm-12 text-center">
        <br >
        <a href="/static_pages/index" class="btn btn-tertiary btn-lg btn-round hideme">
          Our Services
        </a>
        <br >
      </div>
    </div>
  </div>
</div>